fastapi
uvicorn
python-dotenv
psycopg2-binary
sqlalchemy
passlib[bcrypt]
sqlalchemy
python-jose[cryptography]
pydantic
pydantic[email]

python-multipart
email-validator
PyJWT
security
utils
python-jose
argon2-cffi
cloudinary
python-docx
PyMuPDF
pdfplumber
pandas
numpy
openpyxl
lxml
reportlab
pytesseract
Pillow
pyclamd
cryptography
aiofiles
scikit-learn