fastapi
uvicorn
python-dotenv
psycopg2-binary
passlib
sqlalchemy
python-jose[cryptography]
pydantic
pydantic[email]
pandas
openpyxl
scikit-learn
reportlab
pytesseract
Pillow
pyclamd
cryptography
python-multipart
aiofiles
argon2-cffi
